{% if copyright_license == "Unlicense" %}{% include "template/LICENSE_unlicense.txt" %}{%endif%}
{% if copyright_license == "GNU GPLv3" %}{% include "template/LICENSE_gnu_gplv3.txt" %}{%endif%}
{% if copyright_license == "MIT" %}{% include "template/LICENSE_mit.j2" %}{%endif%}
