[build-system]
requires = ["setuptools>=75.3.0"]
build-backend = "setuptools.build_meta"
# requires = ["uv-build"]
# build-backend = "uv_build"

[dependency-groups]
# docs = ["sphinx"]
# check = ["mypy", "isort", "ruff"]
test = ["pytest>=8.4"]

dev = [
    {include-group = "test"},
    # {include-group = "docs"},
    ]

[project]
name = "{{ project_slug }}"
requires-python = ">=3.12"
dependencies = []
dynamic = ["version"]

[project.scripts]
{{ project_slug }} = "{{ package_name }}.cli:main"

[tool.setuptools.dynamic]
version = {attr = "{{ package_name }}.__version__"}

[tool.setuptools.packages.find]
where = ["src"]
