[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "[[ package_name ]]"
version = "0.1.0"
description = "[[ package_description ]]"
authors = ["[[ author_name ]] <[[ author_email ]]>"]
maintainers = ["[[ author_name ]] <[[ author_email ]]>"]
license = "[[ copyright_license ]]"
readme = "README.md"
packages = [
         { include = "[[ package_name ]]", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[tool.poetry.scripts]
[[ package_name ]]  = "[[ package_name ]].app:main"
