# [[ package_name ]]

[[ package_description ]]

## Installation

Use the package manager [pip](https://pip.pypa.io/en/stable/) to install [[ package_name ]].

```shell
pip install [[package_name]]
```

## Usage

Use from within your Python code:

```python
import [[ package_name ]]

...
```

Use from command-line:

```shell
[[ package_name ]]
# or
python -m [[ package_name ]]
# or
poetry run [[ package_name ]]

```

## Description
Let people know what your project can do specifically. Provide context and add a link to any reference visitors might be unfamiliar with. A list of Features or a Background subsection can also be added here. If there are alternatives to your project, this is a good place to list differentiating factors.

## Visuals
Depending on what you are making, it can be a good idea to include screenshots or even a video (you'll frequently see GIFs rather than actual videos). Tools like ttygif can help, but check out Asciinema for a more sophisticated method.



## Contributing
State if you are open to contributions and what your requirements are for accepting them.

For people who want to make changes to your project, it's helpful to have some documentation on how to get started. Perhaps there is a script that they should run or some environment variables that they need to set. Make these steps explicit. These instructions could also be useful to your future self.

You can also document commands to lint the code or run tests. These steps help to ensure high code quality and reduce the likelihood that the changes inadvertently break something. Having instructions for running tests is especially helpful if it requires external setup, such as starting a Selenium server for testing in a browser.

## Authors and acknowledgment
[[ author_name ]] <[[ author_email ]]>

## License
[[ copyright_license ]]

